@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: Archivo;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("../src/fonts/ChakraPetch-Regular.ttf");
}

@font-face {
  font-family: "Archivo";
  src: url("../src/fonts/Archivo-Regular.ttf");
}

@layer base {
  h1 {
    @apply font-chakraPetch uppercase font-semibold text-white
    md:text-5xl md:leading-10 
    lg:text-7xl lg:leading-[60px]
    2xl:text-[90px] xl:leading-[95px];
  }

  p {
    @apply font-archivo text-base leading-[18px] font-normal;
  }

  li {
    @apply font-chakraPetch uppercase text-base leading-[24px] tracking-tighter font-bold cursor-pointer;
  }
}
